<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html>
<head>
  <title>Tech Blog</title>
  <!-- Link to your CSS file -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  {{{body}}} <!-- Content from other handlebars files will be inserted here -->
</body>
</html>
